<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="createUserWithEmailAndPassword(form)">
    <p class="hint-text">Fill in this form to create your account!</p>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username"
        required="required" formControlName="username"
        [class.is-invalid]="username.touched && username.invalid">
      <div *ngIf="username.touched && username.invalid" class="alert-text text-danger">
        <Label *ngIf="username.errors.required">Username is required.</Label>
        <Label *ngIf="username.errors.email">Username is badly formatted.</Label>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password"
        required formControlName="password"
        [class.is-invalid]="password.touched && password.invalid"
        [class.is-invalid]="confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors?.equalTo">
      <div *ngIf="password.touched && password.invalid"
        class="alert-text text-danger">
        Password is required.
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm Password"
        required formControlName="confirmPassword"
        [class.is-invalid]="confirmPassword.touched && confirmPassword.invalid">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid" class="alert-text text-danger">
        <div *ngIf="confirmPassword.errors.required">Confirm password is required.</div>
        <div *ngIf="confirmPassword.errors?.equalTo">Passwords do not match.</div>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="termsAndConditionAccepted"
          required formControlName="termsAndConditionAccepted">
        <label class="custom-control-label" for="termsAndConditionAccepted">
          I accept the <a>Terms &amp; Conditions</a>
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Sign up</button>
  </form>
</div>
